html {
    font-size: 16px;
}

body {
    background-color: #f2f2f2;
    margin-right: 30rem;
    margin-left: 30rem;
}

@media only screen and (max-width: 1700px) {
    body {
        margin-right: 25rem;
        margin-left: 25rem;
    }
}

@media only screen and (max-width: 1450px) {
    body {
        margin-right: 18rem;
        margin-left: 18rem;
    }
}

@media only screen and (max-width: 1200px) {
    body {
        margin-right: 5rem;
        margin-left: 5rem;
    }
}

@media only screen and (max-width: 800px) {
    body {
        margin-right: 1rem;
        margin-left: 1rem;
    }
}

header {
    display: flex;
    justify-content: space-between;
}

h1 {
    color: #0d0d0d;
    text-shadow: 2px 2px 7px silver;
    font-family: 'Cascadia Code', Helvetica, sans-serif;
    font-size: 2.25rem;
}

.nav {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.nav li {
    margin-right: 1.25rem;
    text-decoration: none;
}

.nav a {
    text-decoration: none;
    font-size: 1.25rem;
    color: #0d0d0d;
}

.nav a:hover {
    opacity: 0.75;
    font-weight: 600;
}

#aboutMe {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}


.info h2 {
    font-size: 2rem;
}

.info p {
    font-size: 1.25rem;
    line-height: 1.4;
}

#aboutMe img {
    border-radius: 1.5rem;
    width: 30%;
}

#projects {
    margin-top: 2rem;
}

#projects h2 {
    font-size: 2rem;
    font-weight: 600;
}

#projects ul {
    list-style: none;
    line-height: 1.4;
}

#projects li {
    font-size: 1.25rem;
}

#projects a {
    color: black;
    text-decoration: none;
}

#projects a:hover {
    color: darkslategray;
    font-weight: 600;
    text-decoration: none;
}

#skillz {
    margin-top: 2rem;
}

#skillz h2 {
    font-size: 2rem;
}


#skillz img {
    height: 4rem;
    width: auto;
    margin-right: 1rem;
}

#contact img {
    height: auto;
    width: 4rem;
    cursor: pointer;
}

.frog {
    margin-top: 4rem;
    margin-bottom: 1rem;
}

#frog {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

@media only screen and (max-width: 1700px) {
    #frog {
        width: 74%;
    }
}

@media only screen and (max-width: 1450px) {
    #frog {
        width: 78%;
    }
}

@media only screen and (max-width: 1200px) {
    #frog {
        width: 78%;
    }
}

@media only screen and (max-width: 800px) {
    #frog {
        width: 84%;
    }
}